@{
    ViewBag.Title = "Home";
}
        <div class="jumbotron">
            <h1>Bingo</h1>
            <p class="lead">
                This is a dating app with the goal of finding you a perfect date. Have fun!
            <p>
                <br />
                @if (Session["UserId"] == null)
                {
                    @Html.ActionLink("Create Account", "Signup", "User", null, new { @class = "btn btn-primary btn-lg" })
                    <text>&nbsp;</text>
                    @Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-success btn-lg" })
                }
                else
                {
                    @Html.ActionLink("My Account", "Index", "User", null, new { @class = "btn btn-primary btn-lg" })
                }
            </p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Search and find a perfact match</h2>
                <img src="~/Content/img/i2.png" />
            </div>
            <div class="col-md-4">
                <h2>Chat with your match</h2>
                <img src="~/Content/img/i4.jpg" />
            </div>
            <div class="col-md-4">
                <h2>Enjoy your perfact Date</h2>
                <img src="~/Content/img/i6.jpg"/>    
            </div>
        </div>